# copy this file and rename it to .env
# fill in your mongoDB Atlas connection string


MONGO_URI=mongodb+srv://username:password@microsave.jyqnbyf.mongodb.net/?appName=microsave
MONGODB_DB_NAME=microsync_db
